<section class="address-list-view">
    <loadingindicator ng-show="displayLoadingIndicator" />
    <div class="panel panel-default" ng-if="(addresses | filter:{IsCustEditable:true}).length == 0">
        <div class="panel-heading">
            <h3 class="panel-title">{{'Addresses' | r}}</h3>
        </div>
        <div class="panel-body">
            <p class="alert alert-warning">You have no {{'addresses' | rc}} yet!</p>
        </div>
        <div class="panel-footer">
            <button type="button" class="btn btn-primary" ng-click="newAddress($event)">Add an {{'address' | rc}} now</button>
        </div>
    </div>
    <div class="panel panel-default"  ng-if="(addresses | filter:{IsCustEditable:true}).length > 0">
        <div class="panel-heading">
            <h3 class="panel-title">{{'Addresses' | r}}</h3>
        </div>
        <div class="panel-table">
            <div class="row text-info" ng-show="(addresses | filter:{IsCustEditable:true}).length > 0">
                <div class="col-sm-2">
                    <label class="visible-xs">{{'Select all' | r}}</label>
                    <input type='checkbox' ng-click="checkAll($event)" />
                </div>
                <div class="col-sm-2 hidden-xs">{{'Address' | r}} {{'Name' | r}}</div>
                <div class="col-sm-2 hidden-xs">{{'City' | r}}</div>
                <div class="col-sm-2 hidden-xs">{{'State' | r}}</div>
                <div class="col-sm-2 hidden-xs">{{'Shipping' | r}}</div>
                <div class="col-sm-2 hidden-xs">{{'Billing' | r}}</div>
            </div>
            <div class="row"  ng-repeat="address in addresses | filter:{IsCustEditable:true} | paginate:(settings.currentPage-1) * settings.pageSize | limitTo:settings.pageSize">
                <loadingindicator ng-show="pagedIndicator" />
                <div class="col-sm-2">
                    <input type='checkbox' ng-model="address.Selected" />
                </div>
                <div class="col-sm-2">
                    <span class="visible-xs heading-xs text-info">Name</span>
                    <a ng-href="address/{{address.ID}}">{{address.AddressName}}</a>
                </div>
                <div class="col-sm-2">
                    <span class="visible-xs panel-table-heading-xs text-info">{{'City' | r}}</span>
                    {{address.City}}</a>
                </div>
                <div class="col-sm-2">
                    <span class="visible-xs panel-table-heading-xs text-info">{{'State' | r}}</span>
                    {{address.State}}
                </div>
                <div class="col-sm-2">
                    <span class="visible-xs panel-table-heading-xs text-info">{{'Shipping' | r}}</span>
                    <i ng-class="{'fa fa-check': address.IsShipping }"></i>
                </div>
                <div class="col-sm-2">
                    <span class="visible-xs panel-table-heading-xs text-info">{{'Billing' | r}}</span>
                    <i ng-class="{'fa fa-check': address.IsBilling }"></i>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div ng-show="settings.listCount > settings.pageSize">
                <pagination page="settings.currentPage" max-size="8" rotate="false" boundary-links="true" total-items="settings.listCount"
                            items-per-page="settings.pageSize" direction-links="true"></pagination>
            </div>
            <button type="button" class="btn btn-danger" ng-click="deleteSelected($event)" ng-disbaled="(addresses | filter:{Selected:true}).length == 0">{{'Delete' | r}} {{'Selected' | r}}</button>
            <button ng-if="user.Permissions.contains('CreateShipToAddress') || user.Permissions.contains('CreateBillToAddress')" type="button" class="btn btn-primary pull-right" ng-click="newAddress($event)">{{'New' | r}} {{'Address' | r}}</button>
        </div>

        <div class="navbar-fixed-bottom">
            <loadingindicator ng-show="displayLoadingIndicator" />
            <div class="view-action-message alert-success" ng-show="actionMessage">{{actionMessage | r}}</div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{'Address' | r}} {{'Upload' | r}}</h3>
        </div>
        <div class="panel-table">
            <div class="row">
                <div class="btn btn-success pull-right" style="margin-right: 10px;" ng-show="addressPasteList" ng-click="generateAddresses(addressPasteList); tempAddressPasteList = []">
                    <i class="fa fa-plus-circle"></i> Generate Addresses
                </div>
                <span><a class="btn btn-link" href="http://www.four51.com/Themes/Custom/fad32e83-e533-45aa-a524-84ab6f5e08f9/AddressUploadTemplate.xlsx" target="_blank"><i class="fa fa-download"></i> Download Spreadsheet Template</a></span>
            </div>
            <div class="row">
                <angular-paste ng-hide="addressPasteList.length > 0" ng-model="rawPaste" ng-array="parsedPaste"></angular-paste>

                <div class="text-info" ng-show="tempAddressPasteList.length > 0 && tempPasteError">
                    <strong>The following errors were detected:</strong>
                    <ul>
                        <li ng-repeat="a in tempAddressPasteList | filter:{Invalid:true}">{{a.ErrorMessage}}</li>
                    </ul>
                </div>
                <div class="recipient-upload-table hidden-xs hidden-sm">
                    <div class="row" ng-hide="addressPasteList.length == 0 || !addressPasteList">
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-md-2 col-xs-6"><b>{{'Address' | r}} {{'Name' | r}}</b></div>
                                <div class="col-md-1 col-xs-12"><b>{{'First Name' | r}}</b></div>
                                <div class="col-md-1 col-xs-12"><b>{{'Last' | r}} {{'Name' | r}}</b></div>
                                <div class="col-md-1 col-xs-12"><b>{{'Company' | r}} {{'Name' | r}}</b></div>
                                <div class="col-md-1 col-xs-12"><b>{{'Address Line 1' | r}}</b></div>
                                <div class="col-md-1 col-xs-12"><b>{{'Address Line 2' | r}}</b></div>
                                <div class="col-md-1 col-xs-12"><b>{{'City' | r}}</b></div>
                                <div class="col-md-1 col-xs-12"><b>{{'State' | r}}</b></div>
                                <div class="col-md-1 col-xs-12"><b>{{'Zip' | r}}</b></div>
                                <div class="col-md-1 col-xs-12"><b>{{'Phone' | r}}</b></div>
                            </div>
                        </div>
                    </div>
                    <div class="recipient-paste-row" ng-class-odd="'odd'" ng-class-even="'even'" ng-repeat="address in addressPasteList">
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-md-2 col-xs-6">{{address.AddressName}}</div>
                                <div class="col-md-1 col-xs-12">{{address.FirstName}}</div>
                                <div class="col-md-1 col-xs-12">{{address.LastName}}</div>
                                <div class="col-md-1 col-xs-12">{{address.CompanyName}}</div>
                                <div class="col-md-1 col-xs-12">{{address.Street1}}</div>
                                <div class="col-md-1 col-xs-12">{{address.Street2}}</div>
                                <div class="col-md-1 col-xs-12">{{address.City}}</div>
                                <div class="col-md-1 col-xs-12">{{address.State}}</div>
                                <div class="col-md-1 col-xs-12">{{address.Zip}}</div>
                                <div class="col-md-1 col-xs-12">{{address.Phone}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="recipient-upload-table-xs-sm visible-xs visible-sm">
                    <div ng-repeat="address in addressPasteList" style="border-bottom: 1px solid #dddddd; padding: 5px;">
                        <div ng-show="address.AddressName"><b>{{address.AddressName}}</b></div>
                        <div ng-show="address.FirstName || address.LastName">{{address.FirstName}} {{address.LastName}}</div>
                        <div ng-show="address.CompanyName">{{address.CompanyName}}</div>
                        <div ng-show="address.Street1">{{address.Street1}}</div>
                        <div ng-show="address.Street2">{{address.Street2}}</div>
                        <div ng-show="address.City">{{address.City}}, {{address.State}} {{address.Zip}}</div>
                        <div ng-show="address.Phone">{{address.Phone}}</div>
                    </div>
                </div>
        </div>
    </div>
</section>