<section class="jumbotron" ng-class="{'active': isActive('catalog')}" ng-show="user.Company.LogoUrl">
    <div class="row">
        <div class="container">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                <h2 class="thumbnail" ng-show="Four51User.isAuthenticated()">
                    <a ng-click="refreshUser()" href="catalog">
                        <!--<img ng-src="{{user.Company.LogoUrl}}" />-->
                        <img ng-src="css/images/logo-allianz.jpg" />
                        <div class="tagline text-center">For all that's ahead.&reg;</div>
                    </a>
                    <homemessage />
                </h2>
            </div>
        </div>
    </div>
</section>