<div class="panel-body">
    <strong>Q. What types of credit cards do you accept?</strong>
    <br />
    A. VISA, Mastercard, American Express and Discover<br />
    <br />
    <strong>Q. What is your Return Policy?</strong>
    <br />
    A. We will accept merchandise returns on unused merchandise within 30 days of your purchase date. Please note that we are unable to accept returns or exchanges on embroidered garments.
    A full refund will be applied minus shipping and handling charges.<br />
    <br />
    If your order was damaged in transit, please call Allianz customer care (855-737-7017) immediately. UPS will need to inspect the shipment and its packaging and a claim will be submitted.
    Items may be returned to:<br />
    Allianz Returns<br />
    Quality Resource Group<br />
    12795 16th Avenue North<br />
    Plymouth, MN 55441<br />
    <br />
    <strong>Q. How can I cancel my order?</strong><br />
    A. Please call us at (855-737-7017) to cancel your order prior to shipping. We are unable to cancel orders that have already shipped.
    <br />
    <strong>Q. Can I add/change/remove items to my order?</strong>
    <br />
    A. We cannot alter an order in any way after it has been submitted. Your order must first be cancelled and a new order submitted if changes are required.
    <br />
    <strong>Q. What shipping methods do you offer?</strong>
    <br />
    A. All shipments are sent via UPS. Shipping times are based on business days, Monday - Friday. Weekend days are not included as shipping days.
    We also offer Free Shipping Fridays to corporate headquarters. <span class="alert alert-danger">Explain this process</span>
    <br />
    <strong>Q. How long will it take to receive my order?</strong>
    <br />
    A. Orders placed by 2:00 PM will ship the same day. Orders placed after 2:00 PM will ship the next business day.
    Custom printed items will ship 72 hours after order submission. UPS transit times will vary. Shipments are FOB MN.
    <br />
    <strong>Q. Can I expedite my shipment?</strong>
    <br />
    A. You may expedite your shipment in the check-out page for higher fees. Please note that time in transit is calculated with weekdays only.
    Saturday and Sunday are not included in shipping day calculations.
    <br />
    <strong>Q. Who do I contact if I have questions regarding my order.</strong>
    <br />
    A. Please call us at (855-737-7017) if you have questions regarding your order.
    <br />
    <strong>Q. What will you do with my email address?</strong>
    <br />
    A. We will send an order confirmation to the email address provided. We do not rent, sell, or share your email address.
    <br />
    <strong>Q. How long will it take for out of stock items to be restocked?</strong>
    <br />
    A. Each item varies as to when quantities will be restocked. Please check back daily as stock is replenished each day.<br />
</div>